.listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.deleteBtn{
    padding: 5px 15px;
    font-weight: 700;
    font-size: 16px;
    background-color: #171241;
    border-radius: 4px;
    color: #97c10d;
    transition: scale ease-in-out 250ms;
}

.deleteBtn:hover,
.deleteBtn:focus {
    scale: 1.05;
}