.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  padding: 10px 20px;
  width: 400px;
  height: max-content;
  border-radius: 6px;
  background: rgb(151, 193, 13, 0.4);
  border: 2px solid #171241;
}

.title{
  text-align: center;
  color: #171241;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contactInput {
  max-width: 100%;
  padding: 5px;
  font-size: 20px;
  background-color: beige;
  outline: none;
  border-radius: 4px;
  border: 2px solid beige;
}

.contactInput:focus {
  border: 2px solid #171241;
}

.contactInput::placeholder {
  font-size: 16px;
}

.contactSpan {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 500;
}

.error{
  font-size: 14px;
  font-weight: 400;
  color: red;
}

.formBtn {
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  background-color: #171241;
  border-radius: 4px;
  color: #97c10d;
  transition: scale ease-in-out 250ms;
}

.formBtn:hover,
.formBtn:focus {
  scale: 1.05;
}
