.searchForm {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid #171241;
    background: rgb(151, 193, 13, 0.4);
}

.searchLabel {
    display: flex;
    flex-direction: column;
}

span {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.searchInput {
    max-width: 100%;
    padding: 5px;
    font-size: 20px;
    background-color: beige;
    outline: none;
    border-radius: 4px;
    border: 2px solid beige;
}

.searchInput:focus {
    border: 2px solid #171241;
    
}